:root
{
	--color-bright-red: #ff0546;
	--color-red: #9c173b;
	--color-blood-red: #660f31;
	--color-dark-red: #450327;
}

body
{
	background-color: var(--color-dark-red);
	color: var(--color-bright-red);
}

h1
{
	font-size: 2em;
}

div#footer
{
	background-color: var(--color-blood-red);
	color: var(--color-bright-red);

	/* Extend the box of the footer to the whole width of the page */
	width: 97%;
	padding-left: 3%;

	/* Align to bottom */
	position: absolute;
	bottom: 0;
	left: 0;
}